@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  background: linear-gradient(141deg, #d0fefe 0%, #d0e7fe 51%, #e5f2fe 75%);
  padding: 70px 0;
  text-shadow:1px 1px 1px rgba(0,0,0,0.004) !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

h1,
h2,
h3,
b,
strong {
    color: #555;
}

a {
  color: #85c1fc;
}

a:hover {
  color: #1287f9;
}

img.story {
  height: 600px;
  border-radius: 25px;
}

.game {
  background-color: #EEE;
  width: 450px;
  text-align: center;
  border-radius: 15px;
  opacity: 1;
  padding: 1em;
}

.game-h1 {
  font-size: 4em;
}

.game-p {
  font-size: 2em;
}

.container {
  margin: 0 auto;
  width: 500px;
  height: 400px;
  position: relative;
  perspective: 2000px;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  display: block;
  position: absolute;
  width: 500px;
  height: 400px;
  text-align: center;
  color: #000;
}

p.item-text {
  font-size: 2em
}

.end-credits {
  width: 450px;
  height: 500px;
  border-radius: 15px;
  padding: 2em;
  vertical-align: middle;
  background-color: #022e59;
  color: #d2e8fe;
}

.a {
  transform: rotateY(0deg) translateZ(750px) scale(0.5);
}
.b {
  transform: rotateY(22.5deg) translateZ(750px) scale(0.5);
}
.c {
  transform: rotateY(45deg) translateZ(750px) scale(0.5);
}
.d {
  transform: rotateY(67.5deg) translateZ(750px) scale(0.5);
}
.e {
  transform: rotateY(90deg) translateZ(750px) scale(0.5);
}
.f {
  transform: rotateY(112.5deg) translateZ(750px) scale(0.5);
} 
.g {
  transform: rotateY(135deg) translateZ(750px) scale(0.5);
} 
.h {
  transform: rotateY(157.5deg) translateZ(750px) scale(0.5);
} 
.i {
  transform: rotateY(180deg) translateZ(750px) scale(0.5);
} 
.j {
  transform: rotateY(202.5deg) translateZ(750px) scale(0.5);
} 
.k {
  transform: rotateY(225deg) translateZ(750px) scale(0.5);
} 
.l {
  transform: rotateY(247.5deg) translateZ(750px) scale(0.5);
} 
.m {
  transform: rotateY(270deg) translateZ(750px) scale(0.5);
} 
.n {
  transform: rotateY(292.5deg) translateZ(750px) scale(0.5);
}
.o {
  transform: rotateY(315deg) translateZ(750px) scale(0.5);
}
.p {
  transform: rotateY(337.5deg) translateZ(750px) scale(0.5);
}

.next, .prev {
  color: #022445;
  position: absolute;
  top: 100px;
  padding: 1em 2em;
  cursor: pointer;
  background: #85c1fc;
  border-radius: 5px;
  box-shadow: 0 5px 0 #022e59;
  transition: box-shadow 0.1s, top 0.1s;
}
.next:hover, .prev:hover { color: #000; }
.next:active, .prev:active {
  top: 104px;
  box-shadow: 0 1px 0 #022e59;
}
.next { right: 5em; }
.prev { left: 5em; }