@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

body {
  background: #FFF;
  padding: 70px 0;
  text-shadow:1px 1px 1px rgba(0,0,0,0.004) !important;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

img.story {
  height: 300px;
  border-radius: 25px;
}

.game {
  background-color: #DDD;
  width: 300px;
  text-align: center;
  border-radius: 25px;
  opacity: 1;
  padding: 1em;
}

.container {
  margin: 0 auto;
  width: 250px;
  height: 200px;
  position: relative;
  perspective: 2000px;
}

.carousel {
  height: 100%;
  width: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.item {
  display: block;
  position: absolute;
  width: 250px;
  height: 200px;
  text-align: center;
  color: #000;
}

.a {
  transform: rotateY(0deg) translateZ(750px);
}
.b {
  transform: rotateY(22.5deg) translateZ(750px);
}
.c {
  transform: rotateY(45deg) translateZ(750px);
}
.d {
  transform: rotateY(67.5deg) translateZ(750px);
}
.e {
  transform: rotateY(90deg) translateZ(750px);
}
.f {
  transform: rotateY(112.5deg) translateZ(750px);
} 
.g {
  transform: rotateY(135deg) translateZ(750px);
} 
.h {
  transform: rotateY(157.5deg) translateZ(750px);
} 
.i {
  transform: rotateY(180deg) translateZ(750px);
} 
.j {
  transform: rotateY(202.5deg) translateZ(750px);
} 
.k {
  transform: rotateY(225deg) translateZ(750px);
} 
.l {
  transform: rotateY(247.5deg) translateZ(750px);
} 
.m {
  transform: rotateY(270deg) translateZ(750px);
} 
.n {
  transform: rotateY(292.5deg) translateZ(750px);
}
.o {
  transform: rotateY(315deg) translateZ(750px);
}
.p {
  transform: rotateY(337.5deg) translateZ(750px);
}

.next, .prev {
  color: #444;
  position: absolute;
  top: 100px;
  padding: 1em 2em;
  cursor: pointer;
  background: #CCC;
  border-radius: 5px;
  border-top: 1px solid #FFF;
  box-shadow: 0 5px 0 #999;
  transition: box-shadow 0.1s, top 0.1s;
}
.next:hover, .prev:hover { color: #000; }
.next:active, .prev:active {
  top: 104px;
  box-shadow: 0 1px 0 #999;
}
.next { right: 5em; }
.prev { left: 5em; }